PORT=3000

DATABASE_URL=postgresql://docker:docker@localhost:5434/api_rest_solid?schema=public

MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=
MAILTRAP_PASS=

APP_MAIL_NAME=Equipe do meu App
APP_MAIL_ADDRESS=noreply@meuapp.com
